RESEND_API_KEY=re_your_resend_api_key
SEND_EMAIL_HOOK_SECRET=v1,whsec_your_hook_secret
AUTH_SITE_URL=https://tryanchora.com
AUTH_EMAIL_FROM=Anchora <hello@tryanchora.com>
AUTH_EMAIL_REPLY_TO=hello@tryanchora.com
